@import "adminkit/app";
@import "@protonemedia/laravel-splade/dist/style.css";

#headlessui-portal-root {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.z-20 {
    z-index: 20;
}
.z-30 {
    z-index: 30;
}
.z-40 {
    z-index: 40;
}

.row-actions {
    br {display: none}
}

.choices__list--dropdown {
    z-index: 9!important;
}
